@import "compass/reset";
@import "compass/css3";
@import "compass_twitter_bootstrap";
@import "ctb_customized";

$headerHeight: 32px;

html, body {
  height: 100%;
  width: 100%;
}

header {
  background-color: $grayLighter;
  border-bottom: 1px solid $lineColor;
  height: $headerHeight;

  h1, nav {
    margin: 0; padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: $headerHeight;
    line-height: $headerHeight;
    text-transform: uppercase;
  }

  h1 {
    font-size: $fontSizeLarge;
  }

  nav {
    margin-left: 40px;

    a, a:visited {
      color: $grayLight;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      padding: 0 6px;

      &:hover {
        text-decoration: none;
        background-color: darken($grayLighter, 5%);
      }
    }
  }
}

.content {
  height: 100%;
}

markdown {
  display: block;
  border-top: 1px solid $lineColor;
  padding: 10px 0;

  &:first-of-type {
    border: none;
  }
}

textarea {
  border: none !important;
  border-bottom: 1px solid $lineColor;
  @include border-radius(0px);
  @include box-shadow(none);

  &.writer {
    background-color: #fffff6;
    display: block;
    font-family: monospace;
    font-size: $fontSizeLarge;
    height: 50%;
    width: 100%;
  }
  &:focus {
    border: none !important;
    outline: none !important;
    @include box-shadow(none);
  }
}

span.error {
  color: $red;
}

.preview {
  margin-top: 20px;
}
